Repository RikoxCode/Sesh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"],
  "*.{sh,bash}": ["prettier --write"]
}

chore: fix readme with png and lint errors..
  .eslintrc.cjs
  .gitattributes
  .prettierrc.cjs
  .prettierrc.json
  README.md
  apps/backend/README.md
  apps/frontend/README.md
  docs/assets/logo.png
  docs/assets/logo.svg
  docs/assets/logo_text.png
  docs/assets/logo_text.svg
  eslint.config.cjs
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix

Update README.md
  README.md
Due: prettier --write, markdownlint --fix

docs(readme): add centered logo
  README.md
Due: prettier --write, markdownlint --fix

chore(format): apply prettier across repo
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierrc.cjs
  README.md
  apps/backend/README.md
  apps/frontend/README.md
  docs/BRANCHING.md
  eslint.config.cjs
Due: prettier --write, markdownlint --fix

chore(format): apply prettier across repo
  README.md
Due: prettier --write, markdownlint --fix

feat: setup container
  apps/backend/config/sanctum.php
  apps/backend/database/migrations/2025_10_03_221436_create_personal_access_tokens_table.php
  apps/backend/docker-compose.yaml
  apps/backend/routes/api.php
Due: prettier --write

feat: link api route
  apps/backend/bootstrap/app.php
  apps/backend/composer.json
  apps/backend/composer.lock
Due: prettier --write

feat: initialize frontend
  .idea/.gitignore
  .idea/Sesh.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/vcs.xml
  apps/frontend/.gitignore
  apps/frontend/README.md
  apps/frontend/eslint.config.js
  apps/frontend/index.html
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/postcss.config.js
  apps/frontend/public/vite.svg
  apps/frontend/src/App.jsx
  apps/frontend/src/App.tsx
  apps/frontend/src/index.css
  apps/frontend/src/main.jsx
  apps/frontend/src/main.tsx
  apps/frontend/src/theme.css
  apps/frontend/src/theme.ts
  apps/frontend/src/vite-env.d.ts
  apps/frontend/tailwind.config.js
  apps/frontend/tsconfig.app.json
  apps/frontend/tsconfig.json
  apps/frontend/tsconfig.node.json
  apps/frontend/vite.config.js
  apps/frontend/vite.config.ts
Due: prettier --write, markdownlint --fix

refactor: run prettier for code quality enhancements
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierrc.cjs
  README.md
  apps/backend/README.md
  apps/frontend/eslint.config.js
  apps/frontend/src/App.jsx
  apps/frontend/src/index.css
  apps/frontend/src/main.jsx
  apps/frontend/src/main.tsx
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.js
  docs/BRANCHING.md
  eslint.config.cjs
  package-lock.json
Due: prettier --write, markdownlint --fix

feat: make migrations
  apps/backend/database/migrations/0001_01_01_000000_create_users_table.php
  apps/backend/database/migrations/01_2025_10_03_225024_create_years_table.php
  apps/backend/database/migrations/02_2025_10_03_225024_create_projects_table.php
  apps/backend/database/migrations/03_2025_10_03_225025_create_chapters_table.php
  apps/backend/database/migrations/04_2025_10_03_225025_create_sections_table.php
  apps/backend/database/migrations/2025_10_03_225024_create_criteria_table.php
  apps/backend/database/migrations/2025_10_03_225024_create_glossary_table.php
  apps/backend/database/migrations/2025_10_03_225024_create_sub_criteria_table.php
  apps/backend/database/migrations/2025_10_03_225024_create_time_blocks_table.php
  apps/backend/database/migrations/2025_10_03_225024_create_user_meta_table.php
  apps/backend/database/migrations/2025_10_03_225024_create_user_sub_criteria_table.php
  apps/backend/database/migrations/2025_10_03_225025_create_ai_ratings_table.php
  apps/backend/database/migrations/2025_10_03_225025_create_images_table.php
  apps/backend/database/migrations/2025_10_03_225025_create_tables_table.php
  apps/backend/database/migrations/2025_10_03_225025_create_text_blocks_table.php
Due: none

feat: add sidebar and improved tailwind themes
  .gitignore
  apps/frontend/src/App.tsx
  apps/frontend/src/components/sidebar/ISidebar.ts
  apps/frontend/src/components/sidebar/SidebarEnum.ts
  apps/frontend/src/components/sidebar/sidebar.tsx
  apps/frontend/src/index.css
Due: prettier --write

chore: run prettier to improve code quality
  apps/frontend/src/App.tsx
  apps/frontend/src/components/sidebar/ISidebar.ts
  apps/frontend/src/components/sidebar/SidebarEnum.ts
  apps/frontend/src/components/sidebar/sidebar.tsx
  apps/frontend/src/index.css
Due: prettier --write

feat: FakeLogin - Routing w/authentication to sidebar layout
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/components/login/Brand.tsx
  apps/frontend/src/components/login/FormError.tsx
  apps/frontend/src/components/login/PasswordField.tsx
  apps/frontend/src/components/login/SubmitButton.tsx
  apps/frontend/src/components/login/TextField.tsx
  apps/frontend/src/components/login/ThemeToggle.tsx
  apps/frontend/src/routeTree.gen.ts
  apps/frontend/src/routes/__root.tsx
  apps/frontend/src/routes/_authenticated.tsx
  apps/frontend/src/routes/_authenticated/index.tsx
  apps/frontend/src/routes/login.tsx
  apps/frontend/src/services/auth.ts
  apps/frontend/src/services/http.ts
  apps/frontend/src/stores/authStore.ts
  apps/frontend/src/views/HomeView.tsx
  apps/frontend/src/views/LoginView.tsx
Due: prettier --write

Fix: move ThemeToggel, TextField, FromError from login to ui
  apps/frontend/src/components/ui/FormError.tsx
  apps/frontend/src/components/ui/TextField.tsx
  apps/frontend/src/components/ui/ThemeToggle.tsx
  apps/frontend/src/views/LoginView.tsx
Due: prettier --write

feat: add JWT auth with backend API and error handling
  apps/frontend/.env.example
  apps/frontend/src/services/auth.ts
  apps/frontend/src/services/http.ts
  apps/frontend/src/stores/authStore.ts
  apps/frontend/src/views/LoginView.tsx
Due: prettier --write

Fix: formatCode
  apps/frontend/src/App.tsx
  apps/frontend/src/components/login/Brand.tsx
  apps/frontend/src/components/login/PasswordField.tsx
  apps/frontend/src/components/login/SubmitButton.tsx
  apps/frontend/src/components/ui/FormError.tsx
  apps/frontend/src/components/ui/TextField.tsx
  apps/frontend/src/components/ui/ThemeToggle.tsx
  apps/frontend/src/routeTree.gen.ts
  apps/frontend/src/routes/__root.tsx
  apps/frontend/src/routes/_authenticated.tsx
  apps/frontend/src/routes/_authenticated/index.tsx
  apps/frontend/src/routes/login.tsx
  apps/frontend/src/services/auth.ts
  apps/frontend/src/services/http.ts
  apps/frontend/src/stores/authStore.ts
  apps/frontend/src/views/HomeView.tsx
  apps/frontend/src/views/LoginView.tsx
Due: prettier --write

feat: implement auth
  apps/backend/app/Http/Controllers/AuthController.php
  apps/backend/app/Http/Middleware/JwtMiddleware.php
  apps/backend/app/Models/User.php
  apps/backend/bootstrap/app.php
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/config/auth.php
  apps/backend/config/jwt.php
  apps/backend/database/migrations/0001_01_01_000000_create_users_table.php
  apps/backend/routes/api.php
Due: prettier --write

feat: create models
  apps/backend/app/Models/AiRating.php
  apps/backend/app/Models/Chapter.php
  apps/backend/app/Models/Criterion.php
  apps/backend/app/Models/Glossary.php
  apps/backend/app/Models/Image.php
  apps/backend/app/Models/Project.php
  apps/backend/app/Models/Section.php
  apps/backend/app/Models/SubCriterion.php
  apps/backend/app/Models/Table.php
  apps/backend/app/Models/TextBlock.php
  apps/backend/app/Models/TimeBlock.php
  apps/backend/app/Models/User.php
  apps/backend/app/Models/UserMeta.php
  apps/backend/app/Models/UserSubCriterion.php
  apps/backend/app/Models/Year.php
Due: none

fix: rework of sidebar colors and onHover behaviors
  apps/frontend/public/images/logo.png
  apps/frontend/src/components/sidebar/ISidebar.ts
  apps/frontend/src/components/sidebar/sidebar.tsx
  apps/frontend/src/index.css
Due: prettier --write

feat: install spatie
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/config/permission.php
  apps/backend/database/migrations/2025_10_04_014456_create_permission_tables.php
Due: prettier --write

refactor: enable uuid's for spatie
  apps/backend/database/migrations/2025_10_04_014456_create_permission_tables.php
Due: none

feat: add husky
  .husky/pre-commit
  .lintstagedrc.json
  apps/frontend/package.json
  package.json
Due: prettier --write

fix: broken spatie migration
  apps/backend/database/migrations/2025_10_04_014456_create_permission_tables.php
Due: none

fix: composer lock in git
  apps/backend/.gitignore
Due: none

fix: remove pre-push for efficency
  package.json
Due: prettier --write

Feat: JWT-Login w/backend request, Logout also
  apps/backend/.gitignore
  apps/backend/docker-compose.yaml
  apps/backend/resources/css/app.css
  apps/frontend/src/stores/authStore.ts
  apps/frontend/src/views/HomeView.tsx
Due: prettier --write

Fix: window to axios
  apps/backend/resources/js/bootstrap.js
Due: prettier --write

Fix: FormatAll
  apps/backend/resources/js/bootstrap.js
Due: prettier --write

feat: add prettierignore for vendor files and node_modules
  .prettierignore
Due: none

feat: implement permissions
  apps/backend/app/Http/Controllers/AuthController.php
  apps/backend/app/Models/Permission.php
  apps/backend/app/Models/Role.php
  apps/backend/app/Models/User.php
  apps/backend/config/permission.php
  apps/backend/database/migrations/2025_10_04_014456_create_permission_tables.php
  apps/backend/database/migrations/2025_10_04_021216_create_roles_and_permissions.php
  apps/backend/routes/api.php
Due: none

feat: implement rudimentary project creation
  apps/backend/app/Http/Controllers/ProjectController.php
  apps/backend/app/Http/Controllers/YearController.php
  apps/backend/app/Models/Chapter.php
  apps/backend/app/Models/Project.php
  apps/backend/app/Models/Year.php
  apps/backend/routes/api.php
Due: none

fix: import Str in all models
  apps/backend/app/Models/Criterion.php
  apps/backend/app/Models/Glossary.php
  apps/backend/app/Models/Image.php
  apps/backend/app/Models/Section.php
  apps/backend/app/Models/SubCriterion.php
  apps/backend/app/Models/Table.php
  apps/backend/app/Models/TextBlock.php
  apps/backend/app/Models/TimeBlock.php
  apps/backend/app/Models/UserMeta.php
  apps/backend/app/Models/UserSubCriterion.php
Due: none

feat; add fillable atributes to all modells
  apps/backend/app/Models/AiRating.php
  apps/backend/app/Models/Criterion.php
  apps/backend/app/Models/Glossary.php
  apps/backend/app/Models/Image.php
  apps/backend/app/Models/Section.php
  apps/backend/app/Models/SubCriterion.php
  apps/backend/app/Models/Table.php
  apps/backend/app/Models/TextBlock.php
  apps/backend/app/Models/TimeBlock.php
  apps/backend/app/Models/UserMeta.php
  apps/backend/app/Models/UserSubCriterion.php
Due: none

feat: create factories
  apps/backend/app/Models/AiRating.php
  apps/backend/app/Models/Chapter.php
  apps/backend/app/Models/Criterion.php
  apps/backend/app/Models/Glossary.php
  apps/backend/app/Models/Image.php
  apps/backend/app/Models/Permission.php
  apps/backend/app/Models/Project.php
  apps/backend/app/Models/Role.php
  apps/backend/app/Models/Section.php
  apps/backend/app/Models/SubCriterion.php
  apps/backend/app/Models/Table.php
  apps/backend/app/Models/TextBlock.php
  apps/backend/app/Models/TimeBlock.php
  apps/backend/app/Models/UserMeta.php
  apps/backend/app/Models/UserSubCriterion.php
  apps/backend/app/Models/Year.php
  apps/backend/database/factories/AiRatingFactory.php
  apps/backend/database/factories/ChapterFactory.php
  apps/backend/database/factories/CriterionFactory.php
  apps/backend/database/factories/GlossaryFactory.php
  apps/backend/database/factories/ImageFactory.php
  apps/backend/database/factories/PermissionFactory.php
  apps/backend/database/factories/ProjectFactory.php
  apps/backend/database/factories/RoleFactory.php
  apps/backend/database/factories/SectionFactory.php
  apps/backend/database/factories/SubCriterionFactory.php
  apps/backend/database/factories/TableFactory.php
  apps/backend/database/factories/TextBlockFactory.php
  apps/backend/database/factories/TimeBlockFactory.php
  apps/backend/database/factories/UserMetaFactory.php
  apps/backend/database/factories/UserSubCriterionFactory.php
  apps/backend/database/factories/YearFactory.php
Due: none

fix: wrong naming conventions
  apps/backend/database/migrations/2025_10_03_225024_create_glossaries_table.php
  apps/backend/database/migrations/2025_10_03_225024_create_user_metas_table.php
Due: none

fix: old user format
  apps/backend/database/factories/UserFactory.php
Due: none

feat: implement database seeder
  apps/backend/database/seeders/DatabaseSeeder.php
Due: none

refactor: cleanup routes
  apps/backend/routes/console.php
  apps/backend/routes/web.php
Due: none
