Repository RikoxCode/Sesh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix

fix: husky fixxed
  .husky/_/pre-commit
  .husky/_/pre-push
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/frontend/eslint.config.js
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/public/illustrations/file_search.svg
  apps/frontend/src/views/NotFoundView.tsx
  package.json
Due: prettier --write

feat: add ProfileView, Components, Routes, Service, Store & FormSucess
  .husky/pre-commit
  apps/frontend/src/components/profile/DeleteAccount.tsx
  apps/frontend/src/components/profile/ProfileForm.tsx
  apps/frontend/src/components/profile/ProfileHeader.tsx
  apps/frontend/src/components/sidebar/ISidebar.ts
  apps/frontend/src/components/sidebar/sidebar.tsx
  apps/frontend/src/components/ui/FormSuccess.tsx
  apps/frontend/src/routeTree.gen.ts
  apps/frontend/src/routes/_authenticated.tsx
  apps/frontend/src/routes/_authenticated/profile.tsx
  apps/frontend/src/services/http.ts
  apps/frontend/src/services/user.ts
  apps/frontend/src/stores/userStore.ts
  apps/frontend/src/views/ProfileView.tsx
Due: prettier --write

fix: add pre-push to resolve some husky problems
  .husky/_/pre-commit
  .husky/_/pre-push
  apps/backend/composer.json
  apps/frontend/.prettierignore
Due: prettier --write

Fix: pageNotFound & change Routes w/Sidebar to notAuthenticated
  apps/frontend/src/components/ui/NotFoundIllustration.tsx
  apps/frontend/src/routeTree.gen.ts
  apps/frontend/src/routes/__root.tsx
  apps/frontend/src/routes/_authenticated.tsx
  apps/frontend/src/routes/_authenticated/login.tsx
  apps/frontend/src/routes/index.tsx
  apps/frontend/src/routes/profile.tsx
  apps/frontend/src/views/NotFoundView.tsx
  package-lock.json
  package.json
Due: prettier --write

Fix: change manuel to automatic tanstackrouter
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/routeTree.gen.ts
  apps/frontend/src/routes/_authenticated/login.tsx
  apps/frontend/src/routes/index.tsx
  apps/frontend/src/routes/profile.tsx
Due: prettier --write

refactor: remove unused files
  apps/backend/app/Http/Controllers/GlossariesController.php
  apps/backend/app/Http/Controllers/ProjectSController.php
Due: none

fix: add position
  apps/backend/app/Http/Requests/Chapter/StoreChapterRequest.php
  apps/backend/app/Http/Requests/Chapter/UpdateChapterRequest.php
  apps/backend/database/migrations/03_2025_10_03_225025_create_chapters_table.php
Due: none

feat; implement foreign keys on the model
  apps/backend/app/Models/AiRating.php
  apps/backend/app/Models/Chapter.php
  apps/backend/app/Models/Criterion.php
  apps/backend/app/Models/Glossary.php
  apps/backend/app/Models/Image.php
  apps/backend/app/Models/Project.php
  apps/backend/app/Models/Section.php
  apps/backend/app/Models/SubCriterion.php
  apps/backend/app/Models/Table.php
  apps/backend/app/Models/TextBlock.php
  apps/backend/app/Models/TimeBlock.php
  apps/backend/app/Models/User.php
  apps/backend/app/Models/UserMeta.php
  apps/backend/app/Models/UserSubCriterion.php
  apps/backend/app/Models/Year.php
Due: none

feat: output complete project data
  apps/backend/app/Http/Controllers/AppController.php
  apps/backend/app/Http/Controllers/ProjectController.php
  apps/backend/app/Models/Project.php
  apps/backend/routes/api.php
Due: none

refactor: for pushing :)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierrc.cjs
  README.md
  apps/backend/docker-compose.yaml
  apps/backend/resources/css/app.css
  apps/frontend/README.md
  docs/BRANCHING.md
  eslint.config.cjs
Due: prettier --write, markdownlint --fix

Update apps/backend/database/migrations/2025_10_04_021216_create_roles_and_permissions.php
  apps/backend/database/migrations/2025_10_04_021216_create_roles_and_permissions.php
Due: none

refactor: remove that stinky piece of shit
  apps/backend/composer.lock
Due: none

Update 03_2025_10_03_225025_create_chapters_table.php
  apps/backend/database/migrations/03_2025_10_03_225025_create_chapters_table.php
Due: none

feat: add classes for chapter, section and section items
  apps/frontend/src/classes/BaseChildHavingClass.ts
  apps/frontend/src/classes/chapter.ts
  apps/frontend/src/classes/image.ts
  apps/frontend/src/classes/section.ts
  apps/frontend/src/classes/table.ts
  apps/frontend/src/classes/textblock.ts
Due: prettier --write

chore: add prettier format to husky
  .husky/_/pre-commit
  .husky/_/pre-push
  .prettierignore
  .prettierrc.json
  package.json
Due: prettier --write

refactor: deleted unused file
  .prettierrc
Due: none

refactor: changed pre-commit and pre-push
  .husky/_/pre-commit
  .husky/_/pre-push
Due: none

refactor: make pre-commit and pre-push executable
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/pre-commit
Due: none

refactor: change workspaces in package.json from string to string[]
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --write

refactor: modify .gitattributes
  .gitattributes
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/pre-commit
Due: none

feat: add service testing for backend
  apps/backend/src/roles/roles.service.spec.ts
  apps/backend/src/usermetas/usermetas.service.spec.ts
  apps/backend/src/users/users.service.spec.ts
Due: prettier --write

feat: add service testing for backend
  apps/backend/src/users/users.service.spec.ts
Due: prettier --write

feat: add project route
  .husky/pre-commit
  .prettierrc.json
  apps/backend/.gitignore
  apps/backend/docker-compose.yml
  apps/backend/package-lock.json
  apps/backend/prisma.config.ts
  apps/backend/prisma/migrations/20251017224007_add_project_table/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/app.module.ts
  apps/backend/src/projects/dto/create-project.dto.ts
  apps/backend/src/projects/dto/index.ts
  apps/backend/src/projects/dto/update-project.dto.ts
  apps/backend/src/projects/entities/project.entity.ts
  apps/backend/src/projects/projects.controller.ts
  apps/backend/src/projects/projects.module.ts
  apps/backend/src/projects/projects.service.spec.ts
  apps/backend/src/projects/projects.service.ts
  apps/frontend/package-lock.json
  package-lock.json
Due: prettier --write

feat: add year route
  apps/backend/prisma/factories/user.factory.ts
  apps/backend/prisma/migrations/20251018205322_add_years_table/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/app.module.ts
  apps/backend/src/projects/projects.controller.ts
  apps/backend/src/years/dto/create-year.dto.ts
  apps/backend/src/years/dto/index.ts
  apps/backend/src/years/dto/update-year.dto.ts
  apps/backend/src/years/entities/year.entity.ts
  apps/backend/src/years/years.controller.ts
  apps/backend/src/years/years.module.ts
  apps/backend/src/years/years.service.spec.ts
  apps/backend/src/years/years.service.ts
Due: prettier --write

feat: add year service tests
  apps/backend/src/years/years.controller.ts
  apps/backend/src/years/years.service.spec.ts
Due: prettier --write

fix: not successful year service tests fixed
  apps/backend/src/years/years.service.spec.ts
Due: prettier --write

feat: add glossary route
  apps/backend/prisma/migrations/20251019171721_add_glossary_table/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/app.module.ts
  apps/backend/src/glossary/dto/create-glossary.dto.ts
  apps/backend/src/glossary/dto/index.ts
  apps/backend/src/glossary/dto/update-glossary.dto.ts
  apps/backend/src/glossary/enities/glossary.entity.ts
  apps/backend/src/glossary/glossary.controller.ts
  apps/backend/src/glossary/glossary.module.ts
  apps/backend/src/glossary/glossary.service.spec.ts
  apps/backend/src/glossary/glossary.service.ts
Due: prettier --write

feat: add controller for glossary route
  apps/backend/src/glossary/glossary.controller.ts
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,cjs,mjs,ts,tsx,json,yml,yaml}) or (any of: *.md)) or (any of: *.{sh,bash})
  markdownlint --fix: any of: *.md
